{{>partials/header}}
<section class="banner" style="background-image: url('images/banner_cat.jpg')">Gatos</section>
    <h2>Todos os gatos para adoção</h2>

<div class="container list">
    <div class="item">
        <img src="images/persa.jpg" class="item--image" />
        <div class="item--name">Persa</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/mainecoon.jpg" class="item--image" />
        <div class="item--name">Maine Coon</div>
        <div class="item--color">Cor: Preto e Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/bengal.jpg" class="item--image" />
        <div class="item--name">Bengal</div>
        <div class="item--color">Cor: Branco, Preto e Amarelo</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="images/siames.jpg" class="item--image" />
        <div class="item--name">Siamês</div>
        <div class="item--color">Cor: Amarelo e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/sphynx.jpg" class="item--image" />
        <div class="item--name">Sphynx</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
</div>
{{>partials/footer}}