{{>partials/header}}

<div class="container list">
{{#fishesData}}
    <div class="item">
        <img src="images/{{image}}" class="item--image" />
        <div class="item--name">{{name}}</div>
        <div class="item--color">Cor: {{color}}</div>
        <div class="item--genre">Gênero: {{sex}}</div>
    </div>
{{/fishesData}}
</div>
{{>partials/footer}}