{{>partials/header}}

<section class="banner" style="background-image: url('images/banner_fish.jpg')">Peixes</section>
<h2>Todos os peixes para adoção</h2>
<div class="container list">
    <div class="item">
        <img src="images/neon.jpg" class="item--image" />
        <div class="item--name">Tetra Neon</div>
        <div class="item--color">Cor: Vermelho e Azul</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/matogrosso.jpg" class="item--image" />
        <div class="item--name">Mato Grosso</div>
        <div class="item--color">Cor: Laranja</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/limpavidro.jpg" class="item--image" />
        <div class="item--name">Limpa Vidro</div>
        <div class="item--color">Cor: Verde e Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/tanictis.jpg" class="item--image" />
        <div class="item--name">Tanictis</div>
        <div class="item--color">Cor: Vermelho</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/acara.jpg" class="item--image" />
        <div class="item--name">Acará Bandeira</div>
        <div class="item--color">Cor: Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
</div>
{{>partials/footer}}